extends layout

block content
  link(rel='stylesheet', href='/css/chat.css')
  body
    div#window
      header
        button#logout
          div#logout-hover
      form(name='chat')
        ul#chat
        footer
          input(
            type="text",
            name="message",
            autocomplete="off",
            placeholder="Enter your message...",
            autofocus
            required
          )
          button.icon-send(
            type='submit',
            data-loading-text="Sending..."
          )
    script(src='/vendor/socket.io-client/dist/socket.io.min.js')
    script(src='/js/chat.js')