extends layout

block content
  link(rel='stylesheet', href='/css/login.css')
  form(action='/',name='login',method='post')
    div.signin
      img#logo(
        src='/logo.png', 
        alt='logo'
      )
      h1= 'Sign in to Travelchat'
      p= 'Please enter your name and password'
    input(
      type='text',
      name='username',
      placeholder='Nickname',
      value=''
    )
    div#password
      input(
        type='password',
        name='password',
        placeholder='Password',
        value=''
      )
      button#login.icon-login(
        data-loading-text="Sending..."
      )
    span#error
    div.links
      a.icon-github(
        title='source code',
        href='https://github.com/yarik-vv/webchat',
        rel='noopener noreferrer',
        target='_blank'
      )
      a.icon-author(
        title='author page'
        href='https://yarik-vv.info/',
        rel='noopener noreferrer',
        target='_blank'
      )
  script(src='/js/login.js')
