extends layout

block content
  link(rel='stylesheet', href='/css/users.css')
  body
    p#title= 'Registered users list:'
    div.list#list
      for user in users
        div(id=user.id)
          a(href='/users/'+user.id)
            span#username= user.username
            span#id= 'id: ' + user.id
          button.remove(name=user.id, data-action="suka")= 'Remove this user'
    nav.menu
      a(href='/webchat')= 'Webchat'
      a(href='/logout')= 'Logout'
    script(src='/js/users.js')
