extends layout

block content
  //button#logout.icon-login= exit
  form(name='webchat')
    header
      //button#logout.icon-login= exit
    ul#room
      li= 'Zdarova '+user.username+', yopta!'
    footer
      input(
        disabled
        autofocus
        autocomplete="off",
        type="text",
        name="message",
        placeholder="Enter your message..."
      )
      button.icon-login(type='submit',data-loading-text="Отправляю...")
  script(src='/js/webchat.js')
  script(src='/vendor/socket.io-client/dist/socket.io.min.js')
  script(src='/js/websockets.js')