extends layout

block content
  div#window
    header
      button#logout= exit
    form(name='webchat')
      ul#room
      footer
        input(
          type="text",
          name="message",
          autocomplete="off",
          placeholder="Enter your message...",
          pattern="^[а-яА-ЯёіІЁa-zA-Z0-9_^?https://*/.?]+$",
          autofocus
          required
        )
        button.icon-chat-empty(type='submit',data-loading-text="Отправляю...")
  script(src='/js/logout.js')
  script(src='/vendor/socket.io-client/dist/socket.io.min.js')
  script(src='/js/webchat.js')
