extends layout

block content
  div#window
    header
      button#logout
        div#logout-hover
    form(name='webchat', action="")
      ul#room
      footer
        input(
          type="text",
          name="message",
          autocomplete="off",
          placeholder="Enter your message...",
          autofocus
          required
        )
        button.icon-chat-empty(
          type='submit',
          data-loading-text="Отправляю..."
        )
  //script(src='/js/logout.js')
  script(src='/vendor/socket.io-client/dist/socket.io.min.js')
  script(src='/js/webchat.js')
