extends layout

block content
  link(rel='stylesheet', href='/css/users.css')
  link(rel='stylesheet', href='/css/user.css')
  body
    p#title= 'Selected user:'
    div#user
      p='Username: ' + user.username
      p='Id: ' + user.id
      p='Hash: ' + user.hashedPassword
      p='Registration date: ' + user.created
    nav
      a(href='/users')= 'Back to users list'
      a.remove(name=user.id)= 'Remove this user'
      a(href='/webchat')= 'Travelchat'
      a(href='/logout')= 'Logout'
    script(src='/js/user.js')